.board {
    border-spacing: 0px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

.board td {
    text-align: center;
    font-size: 32px;

    width: 64px;
    height: 64px;

    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.notice {
    font-size: 48px;
}